body{
    background-color: black;
    color: aliceblue;
     margin: 0;
    height: 100px;
}
.navclr{
    background-color: #0f0f0a;
    color: beige;
}
.icons{
    height: 25px;
    width: 25px;
}
.navalign{
    text-align: right;
}
.n1timemrgn{
    margin-right: 5vh;
}
.n2timemrgn{
    margin-right: 5vh;
}
.slogmarg{
    margin-top: 20vh;
    margin-left: 5vh;
}
.onlyleft{
    margin-left: 5vh;
}
.aboutcont{
    background-color: #494c51;
    color: white;
    text-align: center;
    height: 2000px;
}
.card{
    color: black;
}
.cardmrgn{
    margin-top: 50vh;
}
